# Get your connection string from your project on https://dashboard.sqlitecloud.io
SQLITECLOUD_CONNECTION_STRING=sqlitecloud://myproject.sqlite.cloud:8860?apikey=your_api_key

# Get your Google OAuth credentials from https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret